<div class="nav_botom">
    
    <div class="nav_box"> 
        <a class="button_side" href="{{ url_for('flaskRoute.strategyManager') }}">MANAGE</a>  
    </div> 
    <div class="nav_box">    
        <a class="button_side" href="/">ASSETS</a>   
    </div> 
    <div class="nav_box">    
        <a class="button_side" href="{{ url_for('flaskRoute.trades') }}">TRADES</a>   
    </div> 
    <div class="nav_box"> 
        <a class="button_side" href="{{ url_for('flaskRoute.strategyStatus') }}">STATUS</a>    
    </div> 
    <div class="nav_box">   
        <a class="button_side" href="{{ url_for('flaskRoute.strategySettings_html') }}">SETTINGS</a>  
    </div>
    <div class="nav_box">   
        <a class="button_side" href="{{ url_for('flaskRoute.backtester') }}">BACKTESTER</a>  
    </div>
    <br>
    <div class="nav_box"> 
        GENERAL: 
    </div> 
    <div class="nav_box"> 
        <a class="button_side" href="{{ url_for('flaskRoute.BasicSettings') }}">SETTINGS</a>
    </div> 
    <div class="nav_box"> 
        <a class="button_side Logout" href="/logout">LOGOUT</a>
    </div> 
</div> 