<div class="center-div">     

    <table class="wrap" border = "1"> <!--    --------------------------------------GENERAL Table ----------------------------------------------- -->
        <thead>
            <tr>
                <th colspan="4"> General </th>
            </tr>
        </thead>  
        <tbody>  
            <tr>
                <td colspan="2" class="first"> First start </td> 
                <td colspan="2">
                        {{ activeStrategyData[strategyID]["start_time"] }}
                </td>
            </tr> 
            <tr>
                <td colspan="2" class="first"> Pair | Candle </td> 
                <td colspan="2"> 
                    {{ activeStrategyData[strategyID]["symbol1"] }} / 
                    {{ activeStrategyData[strategyID]["symbol2"] }} |                                    
                    {{ activeStrategyData[strategyID]["candle_interval"] }} 
                </td>
            </tr> 
            <tr>
                <td colspan="2" class="first"> Current lookback </td> 
                <td colspan="2">
                        {{ activeStrategyData[strategyID]["lookback"] }}
                </td>
            </tr> 
            <tr>
                <td colspan="2" class="first"> Last price  {{ activeStrategyData[strategyID]["symbol1"] }}</td> 
                <td colspan="2"> {{ activeStrategyData[strategyID]["last_price"] }} 
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr> 
            <tr>
                <td colspan="1" class="first">Average cost</td> 
                <td colspan="1" class="first">num: {{ activeStrategyData[strategyID]["cost_num"] }}</td> 
                <td colspan="2"> {{ activeStrategyData[strategyID]["cost_avg"] }} 
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr> 
            <tr>
                <td colspan="1" class="first"> Average entry  </td> 
                <td colspan="1" class="first">num: {{ activeStrategyData[strategyID]["entry_num"] }}</td> 
                <td colspan="2"> {{ activeStrategyData[strategyID]["entry_avg"] }} 
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr> 
            <tr>
                <td colspan="1" class="first"> Average exit  </td> 
                <td colspan="1" class="first">num: {{ activeStrategyData[strategyID]["exit_num"] }}</td> 
                <td colspan="2"> {{ activeStrategyData[strategyID]["exit_avg"] }} 
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr> 
            <tr>
                <td colspan="2" class="first"> Total profit/loss  </td> 
                {%if activeStrategyData[strategyID]["pnl_total"] < 0.0 %}
                    <td colspan="2" class="redR">
                {%else%}
                    <td colspan="2" class="greenR"> 
                {%endif%}
                    {{ activeStrategyData[strategyID]["pnl_total"] }} 
                    {{ activeStrategyData[strategyID]["symbol2"] }} <br>  
                    {{ activeStrategyData[strategyID]["pnl_total_percent"]}} %
                </td>
            </tr>
            
            <tr>
                <td colspan="2" class="first"> Realised profit/loss  </td> 
                {%if activeStrategyData[strategyID]["pnl_realized"] < 0.0 %}
                    <td colspan="2" class="redR">
                {%else%}
                    <td colspan="2" class="greenR"> 
                {%endif%}
                    {{ activeStrategyData[strategyID]["pnl_realized"] }} 
                    {{ activeStrategyData[strategyID]["symbol2"] }} <br>  
                    {{ activeStrategyData[strategyID]["pnl_realized_percent"]}} %
                </td>
            </tr>         
            
            <tr>
                <td colspan="2" class="first"> Unrealised profit/loss  </td> 
                {%if activeStrategyData[strategyID]["pnl_unrealized"] < 0.0 %}
                    <td colspan="2" class="redR">
                {%else%}
                    <td colspan="2" class="greenR"> 
                {%endif%}
                    {{ activeStrategyData[strategyID]["pnl_unrealized"] }} 
                    {{ activeStrategyData[strategyID]["symbol2"] }} <br>  
                    {{ activeStrategyData[strategyID]["pnl_unrealized_percent"]}} %
                </td>
            </tr>
                                
            <tr>
                <td colspan="2"  class="first">Asset managment</td> 
                <td colspan="2" >
                    Target {{ activeStrategyData[strategyID]["am_target"] }}
                    {%if activeStrategyData[strategyID]["am_target"] == "None" %}
                        
                    {%else%}
                    <br> -> Save: {{ activeStrategyData[strategyID]["am_symbol"] }} 
                    {%endif%}
                </td>
            </tr>                                              
            <tr>
                <td  colspan="2" class="first"> New trade possible </td> 
                    {% if activeStrategyData[strategyID]["trade_enable"] %}
                        <td colspan="2"  class="green">ENABLED</td>
                    {%else%}                                        
                        <td colspan="2"  class="red">BLOCKED</td>
                    {%endif%}    
            </tr>  
            <tr></tr>
        </tbody>
    </table>

    <table class="wrap" border = "1"><!----------------------------BUY Strategy----------------------------------------->
        <thead>                   
            <tr>
                <th class="buyInd" colspan="4">Buy strategy</th>                
            </tr>
        </thead>
        <tbody>
            <tr><!---------------------Bool status----------------------------->
                <td>Drop OK</td>
                {% if activeStrategyData[strategyID]["buy_dca_trigger"]  %}
                        <td class="green">OK</td>
                {%else%}                                        
                    <td class="red">NO</td>
                {%endif%} 

                <td>Indicators OK </td>
                {% if activeStrategyData[strategyID]["buy_ind_en"]  %}
                        <td class="green">OK</td>
                {%else%}                                        
                    <td class="red">NO</td>
                {%endif%} 
            </tr>
            <tr><!---------------------Bool status----------------------------->
                <td>Balance OK </td>
                {% if activeStrategyData[strategyID]["buy_balance_ok"]  %}
                        <td class="green">OK</td>
                {%else%}                                        
                    <td class="red">NO</td>
                {%endif%}                                 
                <td></td>
                <td></td>
            </tr>                           
            <tr >
                <td colspan="2" class="first"> Max price</td> 
                <td colspan="2">
                    {{ activeStrategyData[strategyID]["max_price"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr>               
            <tr>
                <td colspan="2" class="first"> Buy percent change </td> 
                <td colspan="2" >{{ activeStrategyData[strategyID]["buy_percent_change_dip"] }} %</td>
            </tr>                       
            <tr>
                <td colspan="2" class="first">Entry sum</td> 
                <td colspan="2">{{ activeStrategyData[strategyID]["entry_sum2"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr>                                            
            <tr>
                <td colspan="2" class="first">Exit sum</td> 
                <td colspan="2">{{ activeStrategyData[strategyID]["exit_sum2"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr>                                         
            <tr>
                <td colspan="2" class="first">Total sum</td> 
                <td colspan="2">{{ activeStrategyData[strategyID]["cost_sum2"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr> 
                                                                
            <tr>
                <td  colspan="2" class="first">Buy Factor</td> 
                <td colspan="2" >{{ activeStrategyData[strategyID]["buy_factor"] }} %</td>
            </tr>
            <tr>
                <td colspan="2"  class="first">Base Buy</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["buy_base"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }} 
                </td>
            </tr>
            <tr>
                <td colspan="2"  class="first">Account ballance</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["balance_s2"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }} 
                </td>
            </tr> 
            <tr>
                <td colspan="2"  class="first">Available assets</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["am_available_s2"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }} 
                </td>
            </tr>          
            <tr>
                <td colspan="2"  class="first">Amount to Buy</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["to_buy_s2"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr> 
            <tr>
                <td colspan="2"  class="first">Minimum Buy</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["buy_min"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }} 
                </td>
            </tr>   
        </tbody>
    </table>

    <table class="wrap" border = "1"><!----------------------------SELL Strategy----------------------------------------->
        <thead>
            <tr>
                <th class="sellInd" colspan="4">Sell strategy</th>             
            </tr>
        </thead>
        <tbody>                         
            <tr> <!---------------------Bool status----------------------------->
                <td>Pump OK</td>
                {% if activeStrategyData[strategyID]["sell_dca_trigger"]  %}
                    <td class="green">OK</td>
                {%else%}                                        
                    <td class="red">NO</td>
                {%endif%} 
                <td>Indicators OK </td>
                {% if activeStrategyData[strategyID]["sell_ind_en"]  %}
                    <td class="green">OK</td>
                {%else%}                                        
                    <td class="red">NO</td>
                {%endif%} 
            </tr>
            <tr><!---------------------Bool status----------------------------->
                <td>Balance OK</td>                        
                {% if activeStrategyData[strategyID]["sell_balance_ok"]  %}
                    <td class="green">OK</td>
                {%else%}                                        
                    <td class="red">NO</td>
                {%endif%}             
                <td></td>        
                <td></td>                            
            </tr>   
                
            <tr>
                <td colspan="2" class="first"> Min price </td> 
                <td colspan="2">{{ activeStrategyData[strategyID]["min_price"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }}
                </td>
            </tr>                                
            <tr>
                <td colspan="2" class="first"> Sell percent change </td> 
                <td  colspan="2" >{{ activeStrategyData[strategyID]["sell_percent_change_pump"] }} %</td>
            </tr>                                             
            <tr>
                <td colspan="2" class="first">Entry sum</td> 
                <td colspan="2">{{ activeStrategyData[strategyID]["entry_sum1"] }}
                        {{ activeStrategyData[strategyID]["symbol1"] }}
                </td>
            </tr>                                            
            <tr>
                <td colspan="2" class="first">Exit sum</td> 
                <td colspan="2">{{ activeStrategyData[strategyID]["exit_sum1"] }}
                        {{ activeStrategyData[strategyID]["symbol1"] }}
                </td>
            </tr>                                       
            <tr>
                <td colspan="2" class="first">Total sum</td> 
                <td colspan="2">{{ activeStrategyData[strategyID]["cost_sum1"] }}
                        {{ activeStrategyData[strategyID]["symbol1"] }}
                </td>
            </tr> 
            <tr>
                <td colspan="2"  class="first"> Sell Factor </td> 
                <td colspan="2" >{{ activeStrategyData[strategyID]["sell_factor"] }} %</td>
            </tr>                     
            <tr>
                <td colspan="2"  class="first">Base Sell</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["sell_base"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }} 
                </td>
            </tr>   
            <tr>
                <td colspan="2"  class="first">Account ballance</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["balance_s1"] }}
                        {{ activeStrategyData[strategyID]["symbol1"] }} 
                </td>
            </tr>                     
            <tr>
                <td colspan="2"  class="first">Available assets</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["am_available_s1"] }}
                        {{ activeStrategyData[strategyID]["symbol1"] }} 
                </td>
            </tr>       
            <tr>
                <td colspan="2"  class="first">Amount to Sell</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["to_sell_s2"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }} / {{ activeStrategyData[strategyID]["to_sell_s1"] }}
                        {{ activeStrategyData[strategyID]["symbol1"] }}
                </td>
            </tr> 
            <tr>
                <td colspan="2"  class="first">Minimum Sell</td> 
                <td colspan="2" >
                    {{ activeStrategyData[strategyID]["sell_min"] }}
                        {{ activeStrategyData[strategyID]["symbol2"] }} 
                </td>
            </tr>   
        </tbody>
    </table> 

    <table border = "1">  <!-------------------BUY indicator status---------------------------------->
        <thead>
            <tr>
                <th class="buyInd" colspan="10"> Buy indicators</th>
            </tr>
            <tr>
                <td></td>
                {% if activeStrategyData[strategyID]["buy_ind_en"]  %}
                        <td colspan="8" class="green">
                {%else%}                                        
                    <td colspan="8" class="red">
                {%endif%} 
                Weight -> {{ activeStrategyData[strategyID]["buy_weight"] }} / {{ activeStrategyData[strategyID]["min_weight_buy"] }} 
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Id</th>
                <th>Indicator Type</th>
                <th>input</th>
                <th>Weight</th>
                <th>Trade</th> 
                <th>Condition Values</th>
                <th>Trigger</th>  
                <th>Δ</th>     
                <th>Factor</th>    
                <th>Id</th>
            </tr>
        </thead>  
        <tbody> 
            <tr></tr>
            {%for ind_id in activeStrategyData[strategyID]["view_ind_buy"] %}   
                {% include 'segments/_ind_stat_line.html' %}
            {%endfor%}  
        </tbody>
    </table>
    
    <table border = "1"> <!-------------------SELL indicator status---------------------------------->
        <thead>
            <tr>
                <th class="sellInd" colspan="10"> Sell indicators</th>
            </tr>
            <tr>
                <td></td>
                {% if activeStrategyData[strategyID]["sell_ind_en"]  %}
                        <td colspan="8" class="green">
                {%else%}                                        
                    <td colspan="8" class="red">
                {%endif%} 
                Weight -> {{ activeStrategyData[strategyID]["sell_weight"] }} / {{ activeStrategyData[strategyID]["min_weight_sell"] }} 
                </td>
                <td></td>
            </tr>
            <tr>
                <th>Id</th>
                <th>Indicator Type</th>
                <th>Input</th>
                <th>Weight</th> 
                <th>Trade</th> 
                <th>Condition Values</th>
                <th>Trigger</th>
                <th>Δ</th>            
                <th>Factor</th>  
                <th>Id</th>
            </tr>
        </thead>    
        <tbody> 
            <tr></tr>
            {%for ind_id in activeStrategyData[strategyID]["view_ind_sell"] %}   
                {% include 'segments/_ind_stat_line.html' %}
            {% endfor %}  
        </tbody>
    </table>
</div>
