python-dotenv
flask
flask_simplelogin
binance-sdk-spot
numpy
ta-lib
fear-and-greed-crypto
python-telegram-bot
solana
solders
requests
base58
mnemonic
cryptography
bcrypt
pystray
pyinstaller
pywin32
bip32utils
eth-account 
eth-keys 
eth-utils
web3
