.custom-hr {
    border: none; /* Remove default border */
    height:25px; /* Set the height (thickness) of the line */
    background-color: rgb(30,30,30); /* Set the color of the line */
    margin: 20px 0; /* Add some vertical spacing */
}
.headLive{
    border: none; /* Remove default border */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 100, 0); /* Set the color of the line */
}

/*div page positioning*/
.right-div {
    display: flex;
    flex-grow: 1;
    flex-basis: 1;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 140px;
}
.left-div {
    float: left;
    margin-left: 10px;
    margin-bottom: 30px;
}
.center-div {
    display: flex;
    flex-grow: 0;
    flex-basis: 1;
    flex-flow: wrap;
    flex-shrink: 2;
    gap: 2px;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 140px;
}
.log-container {
    width: 100%; /* Or a specific fixed width, e.g., 500px */
    max-height: 200px; /* The maximum size the box can reach before scrolling */
    overflow-y: auto; /* Adds a vertical scrollbar only when content overflows */
    border: 1px solid #ccc; /* Optional: adds a visible border */
    padding: 10px; /* Optional: adds space inside the box */
    font-family: monospace; /* Optional: standard font for logs */
    background-color: #f4f4f4; /* Optional: background color */
    box-sizing: border-box; /* Ensures padding/border are included in width/max-height calculation */
}

p.unitTd{
    text-wrap:initial;
}
p.footerTxt{
    margin-right    : 20px;
    font-size:small;
}
p.description{
    text-align: left;
    margin: 5px;
    font-family: monospace;
    font-size:small;
}

.log-error { color: rgb(170, 38, 29); font-weight: bold; } /* Bootstrap danger color */
.log-warning { color: rgb(255, 217, 0); } /* Bootstrap warning color */
.log-info { color: #0181a8; } /* Bootstrap info color */
.log-container {
    display:table; 
    text-align: left;
    font-size: medium;
    line-height: normal;
    color: #D4D4D4 ;
    background-color: #1E1E1E ;
    padding: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap; /* Preserves formatting and wraps long lines */
    font-family: monospace;
    height:fit-content;
    overflow-y: scroll; /* Makes the log scrollable */
    margin-right: 140px;
}