
html {
    background-color: #1E1E1E;
}

body {
    height: 100vh;
    display:flex;
    flex-direction: column; /* Stacks items */
    margin-left: 0px;
    margin-right: 30px;
    background-color: #1E1E1E;
    overflow-x: hidden;
    flex: 100% 100% auto; /* Prevents growing/shrinking, sets basis to 100% */
    }

.wrapper {            
    display: flex;
    flex-direction: column; /* Stacks items */
    min-width:  97vw; /* Ensures the takes up at least the  viewport width */
    max-width: 100%;
}
footer, header{
    position: fixed; /* Makes the footer stick to the viewport */
    right: 140px;   /* reserve sidenav space */
    left: 0;
    width: auto;   /* IMPORTANT */
    /* Define specific heights or padding for header and footer */
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(15, 15, 15) ;/* RED FOR TESTING   red  rgb(15, 15, 15)*/
    color: white;

}
footer {
    bottom: 0; /* Positions it at the bottom of the viewport */ 
}


header {
    top: 0; /* Positions it at the bottom of the viewport */
    text-align: center;
    padding: 8px;
}     
main {
    display: flex;
    flex: 1 1 auto; /* Allows the main content to grow and take up available space */   
    text-align: center;
    gap: 2px;

    justify-content: center;
    align-items: flex-start; /* Aligns items to the top of the container */ 
    flex-wrap: nowrap;
    
    /*justify-content: space-between;  Horizontally center content (*/
    padding: 1em;
    padding-bottom: 120px; /* Adjust this value to match your footer's height */
    padding-top: 50px; /* Adjust this value to match your header's height */
    padding-right: 140px;

    max-width: 100%;    
    overflow-x: auto;           /*  horizontal scrollbar */

    color: rgb(223, 223, 223);
}
.sidenav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    display:flex; 
    align-items: flex-start; /* Aligns items to the top of the container */         
    justify-content:space-between;
    flex-direction: column;
    gap: 3px; /* Adds a 10px gap between grid items */
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 140px; /* Set the width of the sidebar */
    max-width: 140px; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color:  #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-bottom: 100px;
    margin-bottom: auto;
    font-size: small;
}
