/* Table styles */
tr, td {
    text-align: end;
    padding: 5px 5px;
    min-width: 50;
    max-width: 450;
    word-break: break-all;
    color: rgb(152, 187, 184);
    border-radius: 5px;
    border-left: 0 ;
    border-right: 0;
    
}
td.first {
    text-align: start;
    border: 1px solid lack;
    padding: 5px 10px;
}         
td.redR {
    color: lightgray;
    background-color: rgb(100, 0, 0);
    font-weight: bold;
}       
td.greenR {
    color: lightgray;
    background-color: rgb(0, 100, 0);
    font-weight: bold;
}        
td.red {
    text-align: center;
    color: lightgray;
    background-color: rgb(100, 0, 0);
    font-weight: bold;
}       
td.green {
    text-align: center;
    color: lightgray;
    background-color: rgb(0, 100, 0);
    font-weight: bold;
}       
td.yellow {
    text-align: center;
    color: rgb(65, 65, 65);
    background-color: yellow;
    font-weight: bold;
}      
td.limitW {
    max-width: 250px;
}      
td.crossed {
    text-decoration: line-through ;
}
th {
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(33, 37, 63);
    color: rgb(17, 148, 141);
    border-radius: 5px;
    border-left: 0;
    border-right: 0;
}
th.sellInd {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background-color: rgba(70, 0, 0, 0.8);
    color: lightgray;
}
th.buyInd {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background-color: rgba(0, 70, 0, 0.8);
    color: lightgray;
}

table {          
    padding: 10px;
    border-spacing: 1px 3px;
    border-radius: 15px;
}  
tr:nth-child(odd){
    background-color: rgb(45, 45, 45); /* Light gray background */
}
tr:nth-child(even){
    background-color: rgb(71, 71, 71);
}  
.transparent {
    padding: 4px;
    background-color: rgba(255, 255, 255, 0); 
}

.at-index{    
    padding: 1px;  
}
    
td.at-index {
    color: #0F0;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}    