<html>
    <head>       
        <title>Basic settings</title>
        {% include 'segments/_header.html' %}
    </head>
    <body>  
        <div class="sidenav"> 
            <div class="nav_top">
                <div class="nav_box">
                    <a class="button_side" href="{{ url_for('flaskRoute.display_logs') }}"> LOGS </a>
                </div>

                <form action="/BasicSettings" method="post" onsubmit="return confirm('Ping the server?');"> 
                <button class="invert" type="submit" name="ActionButton" value="ping" >PING</button>
                </form>
                <br>
                <form action="/BasicSettings" method="post" onsubmit="return confirm('Do you want to update list of trading pares from exchange! \n CAN TERMINATE CONNECTION!');"> 
                <button class="invert red" type="submit" name="ActionButton" value="force_update" >FORCE<br>UPDATE </button>
                </form>
            </div>
            {% include 'segments/_nav_side.html' %}
        </div>
    <div class="wrapper">  
        <header>
            <div>
             <b>BASIC BOT SETTINGS</b>
             <br>
             {{usrMsg}}
             </div>
        </header>
        <main>         
        <div class="center-div">
            <div class="center-div">
            <form action="/BasicSettings" method="post" onsubmit="return confirm('Do you want to save settings?');">        
                <div  id="BasicSettings">
                    <table border = "1">   
                        <thead>
                            <th>Setting</th>
                            <th>Value</th>
                        </thead>
                        <tbody>     
                            <tr>
                                <th colspan="2">
                                    Market history data  
                                </th>
                            </tr>                   
                            <tr>
                                <td>Refresh time</td>   
                                <td>
                                    <input type="number" step="1" min="1" name="histDataUpdate" value="{{ my_basicSettings.histDataUpdate }}"> min     
                                </td>                     
                            </tr>  
                            <tr>
                                <td>Num. of candles</td>
                                <td>
                                    <input type="number" step="1" min="200" max="4000" name="numOfHisCandles" value="{{ my_basicSettings.numOfHisCandles }}"> 
                                </td>                           
                            </tr>
                            
                            <tr>
                                <th colspan="2">
                                    Strategy 
                                </th>
                            </tr>  
                            <tr>
                                <td>Refresh time</td>
                                <td>
                                    <input type="number" step="1" min="4" name="strategyUpdate" value="{{ my_basicSettings.strategyUpdate }}"> s
                                </td>    
                            </tr>
                            <tr>
                                <td>Open trade aging</td>
                                <td>
                                    <input type="number" step="1" min="30" name="liveTradeAging" value="{{ my_basicSettings.liveTradeAging }}"> s
                                </td>    
                            </tr>
                            
                            <tr>
                                <td>Status update</td>
                                <td>
                                    <input type="number" step="1" min="4" name="statusUpdate" value="{{ my_basicSettings.statusUpdate }}"> h
                                </td>    
                            </tr>
                            <tr>
                                <th colspan="2">
                                    Communication
                                </th>
                            </tr> 
                            <tr>
                                <td>Stream watchdog</td>
                                <td>
                                    <input type="number" step="0.1" min="0.1" name="klineStreamLoopRuntime" value="{{ my_basicSettings.klineStreamLoopRuntime }}"> s
                                </td>    
                            </tr>
                            <tr>
                                <td>WebSocket watchdog</td>
                                <td>
                                    <input type="number" step="0.1" min="0.1" name="websocetManageLoopRuntime" value="{{ my_basicSettings.websocetManageLoopRuntime }}"> s
                                </td>    
                            </tr>
                            <tr>
                                <td>Server ping interval</td>
                                <td>
                                    <input type="number" step="1" min="1" name="pingUpdate" value="{{ my_basicSettings.pingUpdate }}"> min
                                </td>    
                            </tr> <tr>
                                
                            <tr>
                                <th colspan="2">
                                    <label class="custom-checkbox-container">
                                    Telegram
                                    <input type="checkbox"  id="useTelegram" name="useTelegram" {% if my_basicSettings.useTelegram %}checked{% endif %}>  
                                    <span class="checkmark"></span>
                                    </label>
                                </th>
                            </tr> 
                                <td> 
                                    Telegram chat ID
                                </td>
                                <td>                                                                       
                                    
                                    <input class="long" type="text" name="telegram_chatID" value = "{{ my_basicSettings.telegram_chatID }}" >
                                </td>                           
                            </tr>  
                            <tr>
                                <td>Telegram TOKEN</td>
                                <td>
                                    <input class="long" type="password" name="telegram_TOKEN" value = "{{ my_basicSettings.telegram_TOKEN }}" >
                                </td>                           
                            </tr>
                            <tr>
                                <th colspan="2">Settings below require application restart after saving</th>
                            </tr>
                            <tr>
                                <th colspan="2">Flask User Interface</th>
                            </tr>   
                            <tr>
                                <td>User</td>
                                <td>
                                    <input class="long" type="text" name="user" value = "{{ my_basicSettings.user }}" >
                                </td>                           
                            </tr>   
                            <tr>
                                <td>password</td>
                                <td>
                                    <input class="long" type="password" name="password" value = "{{ my_basicSettings.password }}" >
                                </td>                           
                            </tr>  
                            <tr>
                                <td>Host IP</td>
                                <td>
                                    <input class="long" type="text" name="host" value = "{{ my_basicSettings.host }}" >
                                </td>                           
                            </tr>   
                            <tr>
                                <td>Port</td>
                                <td>
                                    <input class="long" type="number" step="1" min="1" name="Port" value = "{{ my_basicSettings.Port }}" >
                                </td>                           
                            </tr>
                            
                            <tr>
                                <th colspan="2">Binance API</th>
                            </tr> 
                            <tr>
                                <td>Connection timeout</td>
                                <td>
                                    <input type="number" step="100" min="1000" name="timeout" value="{{ my_basicSettings.timeout }}"> ms
                                </td>    
                            </tr> 
                            <tr>
                                <td>Reconnection delay</td>
                                <td>
                                    <input type="number" step="1"  min="1" name="reconnect_delay" value="{{ my_basicSettings.reconnect_delay }}"> s
                                </td>    
                            
                            <tr>
                                <td>API KEY</td>
                                <td>
                                    <input class="long" type="text" name="API_KEY" value = "{{ my_basicSettings.API_KEY }}" >
                                </td>                           
                            </tr>   
                            <tr>
                                <td>API SECRET</td>
                                <td>
                                    <input class="long" type="password" name="API_SECRET" value = "{{ my_basicSettings.API_SECRET }}" >
                                </td>                           
                            </tr>    
                            
                            <tr>
                                <td>                                       
                                </td>
                                <td >                                 
                                    <button type="submit" name="ActionButton" value="SAVE" >SAVE DATA</button>                         
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                    <p>{{data}}</p>                
                </div>                
            </form>  
            </div>
            <div class="center-div">   
                <table>
                    <thead>
                        <th>Pair</th>
                        <th>Min qty</th>
                        <th>Max qty</th>
                        <th>Order dec. places</th>
                    </thead>
                    <tbody>
                    {%for Pair in exchange_info_data %} 
                        <tr>
                            <td>{{Pair}}</td>
                            <td>{{ exchange_info_data[Pair]["min_qty"] }}</td>
                            <td>{{ exchange_info_data[Pair]["max_qty"] }}</td>
                            <td>{{ exchange_info_data[Pair]["order_precision"] }}</td>
                        </tr>
                    
                    {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div> 
        </main>
        <footer>
            {% include 'segments/_footer.html' %}     
        </footer>
    </div> 
    </body>
</html>