<html>
    <head>
        <title>Trading bot</title>
        {% include 'segments/_header.html' %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
        
        
        <meta id="strategy" data-json='{{ strategy | tojson }}'>
        <meta id="trades_json" data-json='{{ trades_json | tojson }}'>
        <meta id="candles_json" data-json='{{ candles_json | tojson }}'>
        <meta id="avgs" data-json='{{ avgs | tojson }}'>
        <meta id="price_indic" data-json='{{ price_indic | tojson }}'>
        <meta id="solo_indic" data-json='{{ solo_indic | tojson }}'>
    </head>
    <body>
        <div class="sidenav"> 
            <div class="nav_top">
                
                <form action="/chart_trades" method="POST" >
                <select name="load_select" id="load_select">
                    {%for strategy in strategy_list %} 
                        
                        <option id="nav_{{strategy.idx}}" value="{{strategy.idx}}" >{{strategy.idx}} {{strategy.name}}</option>              
                        
                    {% endfor %}
                </select>                
                    <button type="submit">LOAD</button>
                </form>
                
                <button class=""  id="nav_Status" value="Status" type="button">Status</button>    
                <button class=""  id="nav_Charts" value="Charts" type="button">Charts</button>     
                <button class=""  id="nav_Trades" value="Trades" type="button">Trades</button>
            </div>
            {% include 'segments/_nav_side.html' %}
        </div>
    <div class="wrapper">
        <header>
            <div>
             <b>TRADE CHART</b>
             </div>
        </header>
        <main>              
            <div class="center-column-div">
                
                <!---------------------------TITLE    ------------------------>
                {% if TradeTables[strategyID]["paperTrading"] %}
                <h2> 
                {%else%}
                <h2 class="headLive"> 
                {%endif%}   
                Strategy {{strategyID}}: {{ TradeTables[strategyID]["name"] }} </h2>

                <!---------------------------Status tables    ------------------------>                
                <section id="Status"></section>   
                <h2>Status</h2>
                {% if not activeStrategyData %}
                    <p>No status data</p>
                {% else %}                    
                    {% include 'segments/_status_tables.html' %}
                {% endif %}                
                <!---------------------------CHARTS    ------------------------>
                <section id="Charts"></section>
                <div id= "charts_div" class="chart-wrapper">
                </div>

                <!---------------------------Trade tables    ------------------------>
                <section id="Trades"></section>
                <h2>Trade table</h2>
                {% include 'segments/_trade_table.html' %} 

            </div>
        </main>
        <footer>
            {% include 'segments/_footer.html' %}    
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
        
    <script type="module" src="{{ url_for('static', filename='js/chart_generate.js') }}"></script>
    </body>
</html>