<div class="footer-div">        
    <a class="button" href="/">  OVERVIEW  </a>   
    <a class="button" href="{{ url_for('flaskRoute.BasicSettings') }}"> SETTINGS </a>
    <a class="button Logout" href="/logout">LOGOUT</a> / STRATEGY: 
    <a class="button" href="{{ url_for('flaskRoute.strategyStatus') }}"> STATUS </a>    
    <a class="button" href="{{ url_for('flaskRoute.strategyManager') }}"> MANAGEMENT </a>    
    <a class="button" href="{{ url_for('flaskRoute.strategySettings_html') }}"> SETTINGS </a>  
    <p class="footerTxt">Bot running for: {{ timeAppRunning }} | Server response: {{ pingResponse }}<br>
        Active streams: {{ activStreamList }}  | Fear & Gread: Value: {{ fearAndGreed["value"] }} Clasification: {{ fearAndGreed["value_classification"] }}
     </p>    
</div>