<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trading bot</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div class="sidenav"> 
            {%for TradeTable in TradeTables %} 
                {% if TradeTables[TradeTable]["paperTrading"] %}
                    <button class="invert" 
                {%else%}
                    <button class="invert green" 
                {%endif%}
                id="nav_{{TradeTable}}" value="{{TradeTable}}" type="button">{{TradeTable}} {{TradeTables[TradeTable]["Symbol1"]}}/{{TradeTables[TradeTable]["Symbol2"]}} {{TradeTables[TradeTable]["CandleInterval"]}}</button>
            {% endfor %}
        </div>
    <div class="wrapper">
        <header>
            <div>
             <b>OVERVIEW</b>
             </div>
        </header>
        <main>            
            
            <div class="left-div">
            <h2>Balances</h2>
            <table class="wrap" border = "1">   <!-- ---------------------------------BALANCE TABLE  -->
                <thead>
                    <tr>
                        <th>Asset</th>
                        <th>Available</th>
                        <th>Total</th>
                    </tr>
                </thead>  
                    <tbody>
                    {%for Balance in MyBalance %}
                    <tr >
                        <td padding = "10px">
                            <b> {{ Balance }} </b>
                        </td>
                        <td>
                            {{ MyBalance[Balance]["Available"]}}  
                        </td>
                        <td>
                            {{ MyBalance[Balance]["Total"] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="right-div">
            <h1>Trades</h1>
            {%for TradeTable in TradeTables %}      
            <section id="{{TradeTable}}">                    
                <hr class="custom-hr">   
                {% if TradeTables[TradeTable]["paperTrading"] %}
                <h2> 
                {%else%}
                <h2 class="headLive"> 
                {%endif%}   
            Strategy {{TradeTable}}: {{ TradeTables[TradeTable]["name"] }} </h2>
            <table border = "1">  <!-- TRADE Tables-->
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>ID</th>
                        <th>Amount S1</th>
                        <th>Symbol1</th>
                        <th>Amount S2</th>
                        <th>Symbol2</th>
                        <th>Price</th>
                        <th>Commision</th>
                        <th>Comm Coin</th>
                    </tr>
                    <tr >
                        <th>Sum</th>
                        <td></td>
                        <td>{{ TradeTables[TradeTable]["trades"] | map(attribute=3) | map('float') | sum }}</td>
                        <td>{{ TradeTables[TradeTable]["trades"][0][2] }}</td>
                        <td>{{ TradeTables[TradeTable]["trades"] | map(attribute=5) | map('float') | sum }}</td>
                        <td>{{ TradeTables[TradeTable]["trades"][0][4] }}</td>
                        <td></td>
                        <td>{{ TradeTables[TradeTable]["trades"] | map(attribute=8) | map('float') | sum }}</td>
                        <td></td>
                    </tr>
                </thead>                  
                    <tbody>
                        <tr></tr>
                    {%for trades in TradeTables[TradeTable]["trades"] %}
                    <tr >
                        <td>{{ trades[0] }}</td>
                        {% if trades[1] == "Open" %}                        
                        <td class="yellow">
                        {%else%}
                        <td>
                        {%endif%}
                        {{ trades[1] }}</td>
                        <td>{{ trades[3] }}</td>
                        <td>{{ trades[2] }}</td>
                        <td>{{ trades[5] }}</td>
                        <td>{{ trades[4] }}</td>
                        <td>{{ trades[6] }}</td>
                        <td>{{ trades[8] }}</td>
                        <td>{{ trades[9] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>     
            </section>       
            {% endfor %}
            </div>
        </main>
        <footer>
             {% include 'footer.html' %}
        </footer>
    </div>
    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>