<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div class="sidenav"> 
            <form action="/logs" method="POST" >
                <button class="invert" type="submit" name="ActionButton" value="main" >main.log</button>
                <button class="invert" type="submit" name="ActionButton" value="app" >app.log</button>      
                <button class="invert" type="submit" name="ActionButton" value="API" >API.log</button>      
                <button class="invert" type="submit" name="ActionButton" value="settings" >settings.log</button>      
                <button class="invert" type="submit" name="ActionButton" value="strategy" >strategy.log</button> 
            </form>      
        </div>
    <div class="wrapper">
        <header>
            <div>
             <b>Log reader for {{log_file_path}}</b>
             </div>
        </header>
        <main>          
            <div class="log-container">
                {% for line in log_lines %}
                    {{ line | safe }}<br>
                {% endfor %}
            </div>                    
        </main>
        <footer>
             {% include 'footer.html' %}
        </footer>
    </div>
    
    </body>
</html>