<html>
    <head>        
        <title>Trading bot manager</title>
        {% include 'segments/_header.html' %}
    </head>
    <body>
    <div class="sidenav"> 
        <div class="nav_top">
        </div>
        {% include 'segments/_nav_side.html' %}
    </div>
    <div class="wrapper">
        <header>
            <div>
                <b>BOT MANAGMENT</b>                
            </div>
            <div>
             Message: {{usrMsg}} 
             </div>
        </header>
        <main>
        <div id="stratStatus">
            <div class="center-div">    
            
                <table class="wrap" border = "1"> <!-- table generation ______________________________________ -->
                    <thead>
                        <tr>                                    
                            <th>Id</th> 
                            <th>Type</th> 
                            <th>Name</th> 
                            <th>Start</th>
                            <th>Pair</th> 
                            <th>Profit/Loss</th> 
                            <th> 
                                Entry <br> 
                                Exit <br>
                                Cost 
                            </th>
                            <th>Trading</th> 
                            <th>STATE</th> 
                            <th>   </th> 
                            <th>   </th> 
                        </tr>
                    </thead>  
                    <tbody> 
                        {%for StrategyID in AllStrategySettings %}                 
                        <tr>                                    
                            <form action="/strategyManager" method="POST" onsubmit="return confirm('Confirm action');">
                                <td> 
                                    {{ StrategyID.id }} 
                                    <input type="hidden" name="id" value="{{StrategyID.id}}" >
                                </td>
                                <td> 
                                    {{ StrategyID.type }} 
                                </td>
                                <td class="limitW"> 
                                    {{ StrategyID.name }} 
                                </td>
                                <td>
                                        {{ activeStrategyData[StrategyID.id]["start_time"] }}
                                </td>
                                <td> 
                                    {{ StrategyID["Symbol1"] }} / {{ StrategyID["Symbol2"] }} 
                                </td>                                            
                                {%if StrategyID.id in activeStrategyData %}

                                    {%if activeStrategyData[StrategyID.id]["pnl_total"] < 0.0 %}
                                        <td class="redR"> 
                                    {%else%}
                                        <td class="greenR">
                                    {%endif%} 
                                        <table class="transparent">
                                            <tr class="transparent">
                                                <td class="transparent">
                                                    Total
                                                </td>
                                                <td class="transparent">                                                        
                                                    {{ activeStrategyData[StrategyID.id]["pnl_total"] }} 
                                                    {{ StrategyID["Symbol2"] }} | {{ activeStrategyData[StrategyID.id]["pnl_total_percent"] }} %
                                                </td>
                                            </tr>
                                            <tr class="transparent">
                                                <td class="transparent">
                                                    Real.
                                                </td>
                                                <td class="transparent">                                                        
                                                    {{ activeStrategyData[StrategyID.id]["pnl_realized"] }} 
                                                    {{ StrategyID["Symbol2"] }} | {{ activeStrategyData[StrategyID.id]["pnl_realized_percent"] }} %
                                                </td>
                                            </tr>
                                            <tr class="transparent">
                                                <td class="transparent">
                                                    Unre.
                                                </td>
                                                <td class="transparent">                                                        
                                                    {{ activeStrategyData[StrategyID.id]["pnl_unrealized"] }} 
                                                    {{ StrategyID["Symbol2"] }} | {{ activeStrategyData[StrategyID.id]["pnl_unrealized_percent"] }} %
                                                </td>
                                            </tr>
                                        </table>
                                        </td>      
                                    <td> 
                                        <table>
                                            <tr>
                                                <td>
                                                    {{ activeStrategyData[StrategyID.id]["entry_avg"] }}
                                                </td>
                                                <td>
                                                    {{ activeStrategyData[StrategyID.id]["entry_num"] }}
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>
                                                    {{ activeStrategyData[StrategyID.id]["exit_avg"] }}
                                                </td>
                                                <td>
                                                    {{ activeStrategyData[StrategyID.id]["exit_num"] }}
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td>
                                                    {{ activeStrategyData[StrategyID.id]["cost_avg"] }}
                                                </td>
                                                <td>
                                                    {{ activeStrategyData[StrategyID.id]["cost_num"] }}
                                                </td>
                                            </tr>
                                        </table>
                                        
                                    </td>
                                
                                {%else%} 
                                        <td> NaN </td>
                                        <td> NaN </td>
                                {%endif%}  
                                                                                
                                {%if activeStrategyData[StrategyID.id]["paper_trading"] %}
                                <td>  
                                    Paper 
                                    <button class="green" type="submit" name="ActionButton" value="Live" >LIVE</button> 
                                </td>
                                {%else%} 
                                <td class="green">  
                                    LIVE 
                                    <button type="submit" name="ActionButton" value="Paper" >Paper</button> 
                                </td>
                                {%endif%}  
                                
                                {% if StrategyID.run %}
                                    <td class="green">
                                        RUNNING 
                                        <button class="red" type="submit" name="ActionButton" value="Stop" >STOP</button>
                                    </td>      
                                {%else%}    
                                    <td class="red">
                                        STOPPED 
                                        <button class="green" type="submit" name="ActionButton" value="Run" >RUN</button>
                                    </td>  
                                {%endif%}
                                <td>
                                    <button type="submit" name="ActionButton" value="Delete" ><b>DELETE</b></button>
                                </td>
                                <td>
                                    <button type="submit" name="ActionButton" value="Reset" ><b>RESET</b></button>
                                </td>
                            </form>
                        </tr>
                        
                        {% endfor %}                                
                    </tbody>
                </table>   
            </div>            
        </div>
        </main>
        <footer>
            {% include 'segments/_footer.html' %}    
        </footer>
    </div> 
       
    
    </body>
</html>