<html>
    <head> 
        <title>Bot status</title>
        {% include 'segments/_header.html' %}
    </head>
    <body>
        <div class="sidenav"> 
            <div class="nav_top">
            {%for StrategyID in activeStrategyData %} 
                {% if activeStrategyData[StrategyID]["paper_trading"] %}
                    <button class="invert" 
                {%else%}
                    <button class="invert green" 
                {%endif%}
                id="nav_{{StrategyID}}" value="{{StrategyID}}" type="button">{{StrategyID}} {{activeStrategyData[StrategyID]["symbol1"]}}/{{activeStrategyData[StrategyID]["symbol2"]}} {{activeStrategyData[StrategyID]["candle_interval"]}}</button>
            {% endfor %}
            </div>

            {% include 'segments/_nav_side.html' %}
        </div>
    <div class="wrapper">
        <header>
            <div>
                <b>BOT STATUS</b>
            </div>
        </header>
        <main>
            <div id="stratStatus">
                {%for StrategyID in activeStrategyData %}                  
                <section id="{{StrategyID}}"> 
                <hr class="custom-hr">   
                {% if activeStrategyData[StrategyID]["paper_trading"] %}
                <h2> 
                {%else%}
                <h2 class="headLive"> 
                {%endif%}
                    {{ activeStrategyData[StrategyID]["name"]  }} </h2>  
                <div class="center-div">     

                    <table class="wrap" border = "1"> <!--    --------------------------------------GENERAL Table ----------------------------------------------- -->
                        <thead>
                            <tr>
                                <th colspan="4"> General </th>
                            </tr>
                        </thead>  
                        <tbody>  
                            <tr>
                                <td colspan="2" class="first"> First start </td> 
                                <td colspan="2">
                                     {{ activeStrategyData[StrategyID]["start_time"] }}
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="2" class="first"> Pair | Candle  </td> 
                                <td colspan="2"> 
                                    {{ activeStrategyData[StrategyID]["symbol1"] }} / 
                                    {{ activeStrategyData[StrategyID]["symbol2"] }} |                                    
                                    {{ activeStrategyData[StrategyID]["candle_interval"] }} 
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="2" class="first"> Last price  {{ activeStrategyData[StrategyID]["symbol1"] }}</td> 
                                <td colspan="2"> {{ activeStrategyData[StrategyID]["last_price"] }} 
                                     {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="1" class="first">Average cost</td> 
                                <td colspan="1" class="first">num: {{ activeStrategyData[StrategyID]["cost_num"] }}</td> 
                                <td colspan="2"> {{ activeStrategyData[StrategyID]["cost_avg"] }} 
                                     {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="1" class="first"> Average entry  </td> 
                                <td colspan="1" class="first">num: {{ activeStrategyData[StrategyID]["entry_num"] }}</td> 
                                <td colspan="2"> {{ activeStrategyData[StrategyID]["entry_avg"] }} 
                                     {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="1" class="first"> Average exit  </td> 
                                <td colspan="1" class="first">num: {{ activeStrategyData[StrategyID]["exit_num"] }}</td> 
                                <td colspan="2"> {{ activeStrategyData[StrategyID]["exit_avg"] }} 
                                     {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="2" class="first"> Total profit/loss  </td> 
                                {%if activeStrategyData[StrategyID]["pnl_total"] < 0.0 %}
                                    <td colspan="2" class="redR">
                                {%else%}
                                    <td colspan="2" class="greenR"> 
                                {%endif%}
                                    {{ activeStrategyData[StrategyID]["pnl_total"] }} 
                                    {{ activeStrategyData[StrategyID]["symbol2"] }} <br>  
                                    {{ activeStrategyData[StrategyID]["pnl_total_percent"]}} %
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="first"> Realised profit/loss  </td> 
                                {%if activeStrategyData[StrategyID]["pnl_realized"] < 0.0 %}
                                    <td colspan="2" class="redR">
                                {%else%}
                                    <td colspan="2" class="greenR"> 
                                {%endif%}
                                    {{ activeStrategyData[StrategyID]["pnl_realized"] }} 
                                    {{ activeStrategyData[StrategyID]["symbol2"] }} <br>  
                                    {{ activeStrategyData[StrategyID]["pnl_realized_percent"]}} %
                                </td>
                            </tr>         
                            
                            <tr>
                                <td colspan="2" class="first"> Unrealised profit/loss  </td> 
                                {%if activeStrategyData[StrategyID]["pnl_total"] < 0.0 %}
                                    <td colspan="2" class="redR">
                                {%else%}
                                    <td colspan="2" class="greenR"> 
                                {%endif%}
                                    {{ activeStrategyData[StrategyID]["pnl_unrealized"] }} 
                                    {{ activeStrategyData[StrategyID]["symbol2"] }} <br>  
                                    {{ activeStrategyData[StrategyID]["pnl_unrealized_percent"]}} %
                                </td>
                            </tr>
                                                
                            <tr>
                                <td colspan="2"  class="first">Asset managment</td> 
                                <td colspan="2" >
                                    Target {{ activeStrategyData[StrategyID]["am_target"] }}
                                    {%if activeStrategyData[StrategyID]["am_target"] == "None" %}
                                      
                                    {%else%}
                                    <br> -> Save: {{ activeStrategyData[StrategyID]["am_symbol"] }} 
                                    {%endif%}
                                </td>
                            </tr>                                              
                            <tr>
                                <td  colspan="2" class="first"> New trade possible </td> 
                                    {% if activeStrategyData[StrategyID]["trade_enable"] %}
                                        <td colspan="2"  class="green">ENABLED</td>
                                    {%else%}                                        
                                        <td colspan="2"  class="red">BLOCKED</td>
                                    {%endif%}    
                            </tr>  
                            <tr></tr>
                        </tbody>
                    </table>
                    <table class="wrap" border = "1"><!----------------------------BUY Strategy----------------------------------------->
                        <thead>                   
                            <tr>
                                <th class="buyInd" colspan="4">Buy strategy</th>                
                            </tr>
                        </thead>
                        <tbody>
                            <tr><!---------------------Bool status----------------------------->
                                <td>Drop OK</td>
                                {% if activeStrategyData[StrategyID]["buy_dca_trigger"]  %}
                                        <td class="green">OK</td>
                                {%else%}                                        
                                    <td class="red">NO</td>
                                {%endif%} 

                                <td>Indicators OK </td>
                                {% if activeStrategyData[StrategyID]["buy_ind_en"]  %}
                                        <td class="green">OK</td>
                                {%else%}                                        
                                    <td class="red">NO</td>
                                {%endif%} 
                            </tr>
                            <tr><!---------------------Bool status----------------------------->
                                <td>Balance OK </td>
                                {% if activeStrategyData[StrategyID]["buy_balance_ok"]  %}
                                        <td class="green">OK</td>
                                {%else%}                                        
                                    <td class="red">NO</td>
                                {%endif%}                                 
                                <td></td>
                                <td></td>
                            </tr>                           
                            <tr >
                                <td colspan="2" class="first"> Max price</td> 
                                <td colspan="2">
                                    {{ activeStrategyData[StrategyID]["max_price"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr>               
                            <tr>
                                <td colspan="2" class="first"> Buy percent change </td> 
                                <td colspan="2" >{{ activeStrategyData[StrategyID]["buy_percent_change_dip"] }} %</td>
                            </tr>                       
                            <tr>
                                <td colspan="2" class="first">Entry sum</td> 
                                <td colspan="2">{{ activeStrategyData[StrategyID]["entry_sum2"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr>                                            
                            <tr>
                                <td colspan="2" class="first">Exit sum</td> 
                                <td colspan="2">{{ activeStrategyData[StrategyID]["exit_sum2"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr>                                         
                            <tr>
                                <td colspan="2" class="first">Total sum</td> 
                                <td colspan="2">{{ activeStrategyData[StrategyID]["cost_sum2"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr> 
                                                                                
                            <tr>
                                <td  colspan="2" class="first">Buy Factor</td> 
                                <td colspan="2" >{{ activeStrategyData[StrategyID]["buy_factor"] }} %</td>
                            </tr>
                            <tr>
                                <td colspan="2"  class="first">Base Buy</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["buy_base"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }} 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"  class="first">Account ballance</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["balance_s2"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }} 
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="2"  class="first">Available assets</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["am_available_s2"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }} 
                                </td>
                            </tr>          
                            <tr>
                                <td colspan="2"  class="first">Amount to Buy</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["to_buy_s2"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="2"  class="first">Minimum Buy</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["buy_min"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }} 
                                </td>
                            </tr>   
                        </tbody>
                    </table>
                    <table class="wrap" border = "1"><!----------------------------SELL Strategy----------------------------------------->
                        <thead>
                            <tr>
                                <th class="sellInd" colspan="4">Sell strategy</th>             
                            </tr>
                        </thead>
                        <tbody>                         
                            <tr> <!---------------------Bool status----------------------------->
                                <td>Pump OK</td>
                                {% if activeStrategyData[StrategyID]["sell_dca_trigger"]  %}
                                    <td class="green">OK</td>
                                {%else%}                                        
                                    <td class="red">NO</td>
                                {%endif%} 
                                <td>Indicators OK </td>
                                {% if activeStrategyData[StrategyID]["sell_ind_en"]  %}
                                    <td class="green">OK</td>
                                {%else%}                                        
                                    <td class="red">NO</td>
                                {%endif%} 
                            </tr>
                            <tr><!---------------------Bool status----------------------------->
                                <td>Balance OK</td>                        
                                {% if activeStrategyData[StrategyID]["sell_balance_ok"]  %}
                                    <td class="green">OK</td>
                                {%else%}                                        
                                    <td class="red">NO</td>
                                {%endif%}             
                                <td></td>        
                                <td></td>                            
                            </tr>   
                                
                            <tr>
                                <td colspan="2" class="first"> Min price </td> 
                                <td colspan="2">{{ activeStrategyData[StrategyID]["min_price"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }}
                                </td>
                            </tr>                                
                            <tr>
                                <td colspan="2" class="first"> Sell percent change </td> 
                                <td  colspan="2" >{{ activeStrategyData[StrategyID]["sell_percent_change_pump"] }} %</td>
                            </tr>                                             
                            <tr>
                                <td colspan="2" class="first">Entry sum</td> 
                                <td colspan="2">{{ activeStrategyData[StrategyID]["entry_sum1"] }}
                                        {{ activeStrategyData[StrategyID]["symbol1"] }}
                                </td>
                            </tr>                                            
                            <tr>
                                <td colspan="2" class="first">Exit sum</td> 
                                <td colspan="2">{{ activeStrategyData[StrategyID]["exit_sum1"] }}
                                        {{ activeStrategyData[StrategyID]["symbol1"] }}
                                </td>
                            </tr>                                       
                            <tr>
                                <td colspan="2" class="first">Total sum</td> 
                                <td colspan="2">{{ activeStrategyData[StrategyID]["cost_sum1"] }}
                                        {{ activeStrategyData[StrategyID]["symbol1"] }}
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="2"  class="first"> Sell Factor </td> 
                                <td colspan="2" >{{ activeStrategyData[StrategyID]["sell_factor"] }} %</td>
                            </tr>                     
                            <tr>
                                <td colspan="2"  class="first">Base Sell</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["sell_base"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }} 
                                </td>
                            </tr>   
                            <tr>
                                <td colspan="2"  class="first">Account ballance</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["balance_s1"] }}
                                        {{ activeStrategyData[StrategyID]["symbol1"] }} 
                                </td>
                            </tr>                     
                            <tr>
                                <td colspan="2"  class="first">Available assets</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["am_available_s1"] }}
                                        {{ activeStrategyData[StrategyID]["symbol1"] }} 
                                </td>
                            </tr>       
                            <tr>
                                <td colspan="2"  class="first">Amount to Sell</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["to_sell_s2"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }} / {{ activeStrategyData[StrategyID]["to_sell_s1"] }}
                                        {{ activeStrategyData[StrategyID]["symbol1"] }}
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="2"  class="first">Minimum Sell</td> 
                                <td colspan="2" >
                                    {{ activeStrategyData[StrategyID]["sell_min"] }}
                                        {{ activeStrategyData[StrategyID]["symbol2"] }} 
                                </td>
                            </tr>   
                        </tbody>
                    </table>    
                    <table border = "1">  <!-------------------BUY indicator status---------------------------------->
                        <thead>
                            <tr>
                                <th class="buyInd" colspan="10"> Buy indicators</th>
                            </tr>
                            <tr>
                                <td></td>
                                {% if activeStrategyData[StrategyID]["buy_ind_en"]  %}
                                        <td colspan="8" class="green">
                                {%else%}                                        
                                    <td colspan="8" class="red">
                                {%endif%} 
                                Weight -> {{ activeStrategyData[StrategyID]["buy_weight"] }} / {{ activeStrategyData[StrategyID]["min_weight_buy"] }} 
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <th>Indicator Type</th>
                                <th>input</th>
                                <th>Weight</th>
                                <th>Trade</th> 
                                <th>Condition Values</th>
                                <th>Trigger</th>  
                                <th>Delta</th>     
                                <th>Factor</th>    
                                <th>Id</th>
                            </tr>
                        </thead>  
                        <tbody> 
                            <tr></tr>
                            {%for ind_id in activeStrategyData[StrategyID]["view_ind_buy"] %}   
                                {% include 'segments/_ind_stat_line.html' %}
                            {%endfor%}  
                        </tbody>
                    </table>    
                    <table border = "1"> <!-------------------SELL indicator status---------------------------------->
                        <thead>
                            <tr>
                                <th class="sellInd" colspan="10"> Sell indicators</th>
                            </tr>
                            <tr>
                                <td></td>
                                {% if activeStrategyData[StrategyID]["sell_ind_en"]  %}
                                        <td colspan="8" class="green">
                                {%else%}                                        
                                    <td colspan="8" class="red">
                                {%endif%} 
                                Weight -> {{ activeStrategyData[StrategyID]["sell_weight"] }} / {{ activeStrategyData[StrategyID]["min_weight_sell"] }} 
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Id</th>
                                <th>Indicator Type</th>
                                <th>Input</th>
                                <th>Weight</th> 
                                <th>Trade</th> 
                                <th>Condition Values</th>
                                <th>Trigger</th>
                                <th>Delta</th>            
                                <th>Factor</th>  
                                <th>Id</th>
                            </tr>
                        </thead>    
                        <tbody> 
                            <tr></tr>
                            {%for ind_id in activeStrategyData[StrategyID]["view_ind_sell"] %}   
                                {% include 'segments/_ind_stat_line.html' %}
                            {% endfor %}  
                        </tbody>
                    </table>
                </div>
                </section> 
                {% endfor %}
            </div>
        </main>
        <footer>
             {% include 'segments/_footer.html' %}
        </footer>
    </div> 
    <script src="{{ url_for('static', filename='strategyStatus.js') }}"></script>
    </body>
</html>