<html>
    <head>        
        <title>Trading bot manager</title>
        {% include 'segments/_header.html' %}
    </head>
    <body>
    <div class="sidenav"> 
        <div class="nav_top">
        </div>
        {% include 'segments/_nav_side.html' %}
    </div>
    <div class="wrapper">
        <header>
            <div>
                <b>BOT MANAGMENT</b>                
            </div>
            <div>
             Message: {{usrMsg}} 
             </div>
        </header>
        <main>
        <div id="stratStatus">
            <div class="center-div">    
            
                <table class="wrap" border = "1"> <!-- table generation ______________________________________ -->
                    <thead>
                        <tr>                                    
                            <th>Id</th> 
                            <th>Type</th> 
                            <th>Name</th> 
                            <th>Start</th>
                            <th>Pair</th> 
                            <th>Profit/Loss</th> 
                            <th> 
                                Entry <br> 
                                Exit <br>
                                Cost 
                            </th>
                            <th>Trading</th> 
                            <th>STATE</th> 
                            <th>   </th> 
                            <th>   </th> 
                        </tr>
                    </thead>  
                    <tbody> 
                        {%for strategy in AllStrategySettings %}     
                        
                        {%if strategy.id != "backtester" %}
                        
                        <tr>                                    
                            
                            <td> 
                                {{ strategy.id }} 
                            </td>
                            <td> 
                                {{ strategy.type }} 
                            </td>
                            <td class="limitW"> 
                                {{ strategy.name }} 
                            </td>
                            <td>
                                {%if strategy.id in activeStrategyData %}
                                    {{ activeStrategyData[strategy.id]["start_time"] }}
                                {%endif%}
                            </td>
                            <td> 
                                {{ strategy["Symbol1"] }} / {{ strategy["Symbol2"] }} 
                            </td>                                            
                            {%if strategy.id in activeStrategyData %}

                                {%if activeStrategyData[strategy.id]["pnl_total"] < 0.0 %}
                                    <td class="redR"> 
                                {%else%}
                                    <td class="greenR">
                                {%endif%} 
                                    <table class="transparent">
                                        <tr class="transparent">
                                            <td class="transparent">
                                                Total
                                            </td>
                                            <td class="transparent">                                                        
                                                {{ activeStrategyData[strategy.id]["pnl_total"] }} 
                                                {{ strategy["Symbol2"] }} | {{ activeStrategyData[strategy.id]["pnl_total_percent"] }} %
                                            </td>
                                        </tr>
                                        <tr class="transparent">
                                            <td class="transparent">
                                                Real.
                                            </td>
                                            <td class="transparent">                                                        
                                                {{ activeStrategyData[strategy.id]["pnl_realized"] }} 
                                                {{ strategy["Symbol2"] }} | {{ activeStrategyData[strategy.id]["pnl_realized_percent"] }} %
                                            </td>
                                        </tr>
                                        <tr class="transparent">
                                            <td class="transparent">
                                                Unre.
                                            </td>
                                            <td class="transparent">                                                        
                                                {{ activeStrategyData[strategy.id]["pnl_unrealized"] }} 
                                                {{ strategy["Symbol2"] }} | {{ activeStrategyData[strategy.id]["pnl_unrealized_percent"] }} %
                                            </td>
                                        </tr>
                                    </table>
                                    </td>      
                                <td> 
                                    <table>
                                        <tr>
                                            <td>
                                                {{ activeStrategyData[strategy.id]["entry_avg"] }}
                                            </td>
                                            <td>
                                                {{ activeStrategyData[strategy.id]["entry_num"] }}
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                {{ activeStrategyData[strategy.id]["exit_avg"] }}
                                            </td>
                                            <td>
                                                {{ activeStrategyData[strategy.id]["exit_num"] }}
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td>
                                                {{ activeStrategyData[strategy.id]["cost_avg"] }}
                                            </td>
                                            <td>
                                                {{ activeStrategyData[strategy.id]["cost_num"] }}
                                            </td>
                                        </tr>
                                    </table>
                                    
                                </td>
                            
                            {%else%} 
                                    <td> NaN </td>
                                    <td> NaN </td>
                            {%endif%}  
                                                                            
                            {%if activeStrategyData[strategy.id]["paper_trading"] %}
                            <td>  
                                Paper 
                                <form action="/strategyManager" method="POST" onsubmit="return confirm('Set strategy with ID {{strategy.id}} to LIVE? \n{{strategy.name}}');">
                                <input type="hidden" name="id" value="{{strategy.id}}" >
                                    <button class="green" type="submit" name="ActionButton" value="Live" >LIVE</button> 
                                </form>
                            </td>
                            {%else%} 
                            <td class="green">  
                                LIVE 
                                <form action="/strategyManager" method="POST" onsubmit="return confirm('Set strategy with ID {{strategy.id}} to paper trading? \n{{strategy.name}}');">
                                <input type="hidden" name="id" value="{{strategy.id}}" >
                                    <button type="submit" name="ActionButton" value="Paper" >Paper</button> 
                                </form>
                            </td>
                            {%endif%}  
                            
                            {% if strategy.run %}
                                <td class="green">
                                    RUNNING 
                                    <form action="/strategyManager" method="POST" onsubmit="return confirm('STOP strategy with ID {{strategy.id}}? \n{{strategy.name}}');">
                                        <input type="hidden" name="id" value="{{strategy.id}}" >
                                        <button class="red" type="submit" name="ActionButton" value="Stop" >STOP</button>
                                    </form>
                                </td>      
                            {%else%}    
                                <td class="red">
                                    STOPPED 
                                    <form action="/strategyManager" method="POST" onsubmit="return confirm('RUN strategy with ID {{strategy.id}}? \n{{strategy.name}}');">
                                        <input type="hidden" name="id" value="{{strategy.id}}" >
                                        <button class="green" type="submit" name="ActionButton" value="Run" >RUN</button>
                                    </form>
                                </td>  
                            {%endif%}
                            <td>
                                <form action="/strategyManager" method="POST" onsubmit="return confirm('DELETE strategy with ID {{strategy.id}}? \n{{strategy.name}}');">
                                    <input type="hidden" name="id" value="{{strategy.id}}" >
                                    <button type="submit" name="ActionButton" value="Delete" ><b>DELETE</b></button>
                                </form>
                            </td>
                            <td>
                                <form action="/strategyManager" method="POST" onsubmit="return confirm('RESET strategy with ID {{strategy.id}}? \n{{strategy.name}} \n Delete trade data!');">
                                    <input type="hidden" name="id" value="{{strategy.id}}" >
                                    <button type="submit" name="ActionButton" value="Reset" ><b>RESET</b></button>
                                </form>
                            </td>                     
                        </tr>

                        {%endif%}
                        
                        {% endfor %}                                
                    </tbody>
                </table>   
            </div>            
        </div>
        </main>
        <footer>
            {% include 'segments/_footer.html' %}    
        </footer>
    </div> 
       
    
    </body>
</html>