<html>
    <head> 
        <meta charset="UTF-8">
        <meta id="StrategySettingsData" data-json='{{ AllStrategySettings | tojson }}'>
        <meta id="scrollId" data-json='{{ scrollId | tojson }}'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">       
        <title>Bot settings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div class="sidenav"> 
            {%for StrategyID in AllStrategySettings %} 
            {% if StrategyID.paperTrading %}
                <button class="invert" 
                {%else%}
                    <button class="invert green" 
                {%endif%}
                id="nav_{{StrategyID.id}}" value="{{StrategyID.id}}" type="button">{{StrategyID.id}} {{StrategyID.Symbol1}}/{{StrategyID.Symbol2}} {{StrategyID.CandleInterval}}</button>              
            {% endfor %}
        </div>
    <div class="wrapper">
        <header>
            <div>
             Message: {{usrMsg}} 
             </div>
        </header>
        <main>
            <div id="stratStatus">
                <h2>Strategy settings </h2>
                {%for StrategyID in AllStrategySettings %} 
                <section id="{{StrategyID.id}}">
                <hr class="custom-hr">
                <form action="/strategySettings_html" method="POST" onsubmit="return confirm('Confirm action');">
                     
                    <h2> 
                        {% if StrategyID.paperTrading %}                        
                            <input class="titleLong" 
                        {%else%}
                            <input class="titleLongGreen" 
                        {%endif%}
                        type="text" name="name" value= "{{ StrategyID.name  }}"> 
                    </h2>
                    <div class="left-div">   
                        <table id="generalT_{{StrategyID.id}}" class="wrap" border = "1"> <!-- Genaral table generation ______________________________________ -->
                            <thead>
                                <tr>
                                    <th>
                                        <button class="invert" type="submit" name="ActionButton" value="{{StrategyID.id}}" ><b>SAVE<br>DATA</b></button>
                                    </th>
                                    <th>
                                        <button type="submit" name="ActionButton" value="AddNew" ><b>ADD<br>NEW</b></button>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2"> General </th>
                                </tr>
                            </thead>  
                                <tbody> 
                                <tr>
                                    <td> Id  </td> 
                                    <td>{{ StrategyID["id"] }}</td>
                                </tr> 
                                <tr>
                                    <td>Type</td> 
                                    <td>{{ StrategyID["type"] }}</td>
                                </tr> 
                                <tr>
                                    <td id="run"> 
                                        <label class="custom-checkbox-container">                                        
                                        <input type="checkbox" id="run" name="run" {% if StrategyID.run %}checked{% endif %}>  
                                        <span class="checkmark"></span>
                                        RUN
                                        </label>
                                    </td>
                                    <td id="paperTrading"> 
                                        <label class="custom-checkbox-container">
                                        <input type="checkbox"  id="paperTrading" name="paperTrading" {% if StrategyID.paperTrading %}checked{% endif %}>  
                                        <span class="checkmark"></span>
                                        Paper trading
                                        </label>
                                    </td>
                                </tr>      
                                <tr>
                                    <td> Lookback Interval </td>                                     
                                    <td id="interval"> 
                                        <input type="number" step="1" min="1" max="200" name="NumOfCandlesForLookback" value="{{ StrategyID.NumOfCandlesForLookback }}"> 
                                        <select name="CandleInterval" id="CandleInterval">
                                            <option value="5m" {% if "5m" == StrategyID.CandleInterval  %}selected{% endif %}>5 min</option>
                                            <option value="15m" {% if "15m" == StrategyID.CandleInterval  %}selected{% endif %}>15 min</option>
                                            <option value="30m" {% if "30m" == StrategyID.CandleInterval  %}selected{% endif %}>30 min</option>
                                            <option value="1h" {% if "1h" == StrategyID.CandleInterval  %}selected{% endif %}>1 h</option>
                                            <option value="2h" {% if "2h" == StrategyID.CandleInterval  %}selected{% endif %}>2 h</option>
                                            <option value="4h" {% if "4h" == StrategyID.CandleInterval  %}selected{% endif %}>4 h</option>
                                            <option value="8h" {% if "8h" == StrategyID.CandleInterval  %}selected{% endif %}>8 h</option>
                                            <option value="12h" {% if "12h" == StrategyID.CandleInterval  %}selected{% endif %}>12 h</option>
                                            <option value="1d" {% if "1d" == StrategyID.CandleInterval  %}selected{% endif %}>1 day</option>
                                            <option value="3d" {% if "3d" == StrategyID.CandleInterval  %}selected{% endif %}>3 day</option>
                                            <option value="1w" {% if "1w" == StrategyID.CandleInterval  %}selected{% endif %}>1 week</option>
                                            <option value="1M" {% if "1M" == StrategyID.CandleInterval  %}selected{% endif %}>1 month</option>
                                        </select>    
                                    </td>
                                </tr>
                                <tr>
                                    <td> Minimum time <br> for new trade </td>
                                    <td>
                                        <label class="custom-checkbox-container">  
                                        Only trade on candle close                                      
                                        <input type="checkbox" id="candleCloseOnly" name="candleCloseOnly" {% if StrategyID.candleCloseOnly %}checked{% endif %}>  
                                        <span class="checkmark"></span>                                        
                                        </label>
                                        <input type="number" step="1" min="1" id="timeLimitNewOrder" name="timeLimitNewOrder" value="{{ StrategyID.timeLimitNewOrder }}"> s
                                    </td>
                                </tr>
                                <tr>
                                    <td> Decimal places <br> for rounding orders </td>
                                    <td>
                                        <input type="number" step="1" min="0" id="roundBuySellorder" name="roundBuySellorder" value="{{ StrategyID.roundBuySellorder }}">  
                                    </td>
                                </tr>
                                <!-------------------------------------Asset manager------------------------------------------->
                                <tr> 
                                    <th class="manager" colspan="2">Asset managment</th>                
                                </tr>   
                                <tr>
                                    <td>
                                        Target <br>
                                        <select class="selectManager" name="assetManagerTarget" id="assetManagerTarget">
                                            <option value="None">None</option>
                                            <option value="Account">Account balance</option>
                                            <option value="Trades">Trades</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span id="assetManagerSymbolText"></span>
                                        <select class="selectManager" name="assetManagerSymbol" id="assetManagerSymbol">
                                            <option value="1" id="assetManagerSymbol1">{{ StrategyID.Symbol1 }}</option>
                                            <option value="2" id="assetManagerSymbol2">{{ StrategyID.Symbol2 }}</option>
                                        </select>
                                    </td>
                                </tr>                                

                                <tr>
                                    <td > Maximum<br> spending asset </td>
                                    <td>
                                        <input type="number" min="0" step="0.0001"  id="assetManageMaxSpendLimit" name="assetManageMaxSpendLimit" value="0">
                                        <span id="assetManageMaxSpendLimitText" ></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td > Minimum<br> asset to save </td>
                                    <td>
                                        <input type="number"  min="0" step="0.0001" id="assetManageMinSaveLimit"  name="assetManageMinSaveLimit" value="0">                                       
                                        <select name="assetManagePercent" id="assetManagePercent">
                                            <option value="0" >abs</option>
                                            <option value="1" >%</option>
                                        </select>
                                        <span id="assetManageMinSaveLimitText" ></span>  
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr> <!----------------------------BUY Strategies----------------------------->
                                    <th class="buyInd" colspan="2">Buy strategy</th>                
                                </tr>   
                                <tr></tr>   
                                <tr>
                                    <td> Symbol </td> 
                                    <td> 
                                        <input type="text" id="Symbol1" name="Symbol1" value="{{ StrategyID.Symbol1 }}">  
                                    </td>
                                </tr>
                                <tr>
                                    <td>Base buy amount</td>
                                    <td>
                                        <input type="number" min="0" step="0.0001" id="BuyBase" name="BuyBase" value="{{ StrategyID.BuyBase }}">
                                        <span id="BuyBaseUnit">{{ StrategyID.Symbol2 }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Minimum buy amount</td>
                                    <td>
                                        <input type="number" min="0" step="0.0001" id="BuyMin" name="BuyMin" value="0.0">
                                        <span id="BuyMinUnit">{{ StrategyID.Symbol2 }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Dip buy trigger </td>
                                    <td>
                                        <input type="number" min="0" step="0.01" id="DipBuy" name="DipBuy" value="{{ StrategyID.DipBuy }}"> % 
                                    </td>
                                </tr>
                                <tr>
                                    <td> Max factor for <br> dynamic orders </td>
                                    <td>
                                        <input type="number" min="0" step="0.1" id="BuyMaxFactor"  name="BuyMaxFactor" value="{{ StrategyID.BuyMaxFactor }}"> % 
                                    </td>
                                </tr>
                                <tr></tr>
                                    <th class="sellInd" colspan="2">Sell strategy</th>             
                                </tr> 
                                <tr></tr>   
                                    <td> Symbol </td> 
                                    <td> 
                                        <input type="text" id="Symbol2" name="Symbol2" value="{{ StrategyID.Symbol2 }}">  
                                    </td> 
                                <tr>
                                    <td>Base sell amount</td>
                                    <td>
                                        <input type="number" min="0" step="0.0001" id="SellBase"  name="SellBase" value="{{ StrategyID.SellBase }}"> 
                                        <span id="SellBaseUnit">{{ StrategyID.Symbol2 }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Minimum sell amount</td>
                                    <td>
                                        <input type="number" min="0" step="0.0001" id="SellMin" name="SellMin" value="0.0">
                                        <span id="SellMinUnit">{{ StrategyID.Symbol2 }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Pump sell trigger </td>
                                    <td>
                                        <input type="number"  min="0" step="0.01"  id="TakeProfit" name="TakeProfit" value="{{ StrategyID.TakeProfit }}"> % 
                                    </td>
                                </tr>
                                <tr>
                                    <td> Max factor for <br> dynamic orders </td>
                                    <td>
                                        <input type="number"  min="0" step="0.1"  id="SellMaxFactor" name="SellMaxFactor" value="{{ StrategyID.SellMaxFactor }}"> %
                                    </td>
                                </tr>
                                
                                </tbody>
                        </table>
                    </div>
                    <div class="right-div"> 
                        <table class="wrap" border = "1" id="buyTable{{StrategyID.id}}"> <!-- INDEX BUY table generation ______________________________________ -->
                            <thead>
                                <tr>
                                    <th class="buyInd" colspan="7">Buy indicators</th>
                                    <th>                                    
                                        <button onclick="addRow('buyTable{{StrategyID.id}}', 'Buy')" type="button"  value="AddIndexToBuy" >ADD</button>
                                    </th>
                                </tr> 
                                <tr>
                                    <td colspan="5">
                                        Minimum weight for trade execution
                                    </td>
                                    <td >                                        
                                        <input type="number"  min="0" step="1"  name="MinWeight_Buy" value = "{{ StrategyID.MinWeight_Buy }}" >   
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>  
                                <tr>
                                    <th>Type</th>
                                    <th>Ind. Input</th>
                                    <th>Weight</th>
                                    <th>Offset</th>
                                    <th>Trigger logic</th>
                                    <th>Factor</th>
                                    <th>Max factor</th>
                                    <th> </th>
                                </tr>                         
                            </thead>  
                            <tbody  id="buyBodyTable{{StrategyID.id}}">
                                <tr></tr>                                
                                                             
                                
                            </tbody>
                        </table>    
                        <table class="wrap" border = "1" id="sellTable{{StrategyID.id}}"> <!-- INDEX SELL table generation ______________________________________ -->
                            <thead>
                                <tr>
                                    <th class="sellInd" colspan="7"> Sell indicators</th>                                
                                    <th>                                    
                                        <button onclick="addRow('sellTable{{StrategyID.id}}', 'Sell')" type="button"  value="AddIndexToSell" >ADD</button>
                                    </th>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        Minimum weight for trade execution
                                    </td>
                                    <td>                                        
                                        <input type="number"  min="0" step="1"  name="MinWeight_Sell" value = "{{ StrategyID.MinWeight_Sell }}" >   
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <th>Ind. Input</th>
                                    <th>Weight</th>
                                    <th>Offset</th>
                                    <th>Trigger logic</th>
                                    <th>Factor</th>
                                    <th>Max factor</th>
                                    <th> </th>
                                </tr>
                            </thead>    
                            <tbody id="sellBodyTable{{StrategyID.id}}">
                                <tr></tr>                                
                                
                            </tbody>
                        </table>
                        <table class="wrap"><!-- DESCRIPTION PARAGRAPH ______________________________________ -->                    
                            <tr>
                                <td>
    <p class="description">  
        GENERAL <br>
        RUN..................................start or stop strategy <br>
        Paper trading........................trades will be only in file and not send to API (for testing)<br>
        Lookback Interval....................Number of candles and candle timeframe for searching Min/Max price<br>
        Only trade on candle close...........If selected no intra candle trades will be executed <br>
        Minimum time for new trade...........time in s before new order can be placed OR time span for detecting candle was closed<br>
        Decimal places for rounding orders...rounding of Symbol 2 when placing an order <br><br>
        Asset managment <br>
        Target........................."None" no limits <br>
        ..............................."Account balance" limits for saving apply on account <br> 
        ..............................."Trades" limits for saving apply on trades only <br>
        Save...........................Select asset to be saved <br>
        Maximum spending asset.........Limit for how much of none seving asset can be spend on trades <br>
        Minimum saved asset............Limit the minimum ammount of saved asset to be left on account or in trades. <br>
        ...............................If % than minimum limit will increase with buys of saved asset. <br><br>
        Buy/Sell strategy <br>
        Symbol.........................SimbolX of a pair<br>
        Base buy/sell amount...........Basic amount of SimbolX used per order <br>
        Minimum buy/sell ammount.......Minimum amount of SimbolX used if not enough available balance <br>
        Dip buy/sell trigger...........Price drop from Max in % to trigger the buy order <br>
        Max factor for dynamic orders..Maximum % the base amount can be increased<br><br>
    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
    <p class="description">  
        INDICATORS <br>
        At the top of the indicator you can input minimum weight the triggers need to produce for the Buy/Sell to be enabled <br>
        Type......................SMA (Simple Moving Average); EMA (Exponential MA); RSI (Relative Strength Index);<br>
        ..........................ROC (Rate Of Change); ADX (Average Directional Movement Index); BB (Bollinger bands) <br>
        ..........................Average Cost/Entry/Exit; Price; Fear & Gread from Alternative.me <br>
        Indicator Input...........Input value for Indicator and the interval if aplicable<br>
        Weight....................ammount of weight the Indicator will produce when > or < conditions are met<br>        
        Offset....................Move the trigger value up or down in % for blocking trade (producing weight)<br>   
        Trigger logic..> <........Trigger value and conditions for weight and factor to be applied<br>
        Factor....................ON/OFF and value in % of delta (trigger - value) for base Buy/Sell amount to increase<br>
        Max factor................Maximum % for increasing base value this indicator can output<br>
    </p>
                                </td>
                            </tr>

                        </table>
                
                    </div>
                </form>
                </section>
                {% endfor %}
                
            </div>
        </main>
        <footer>            
             {% include 'footer.html' %}
        </footer>
    </div> 

    <script src="{{ url_for('static', filename='strategySettings.js') }}">
       

    </script>
    </body>
</html>