<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">       
        <title>Trading bot manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
    <div class="wrapper">
        <header>
            <div>
             Message: {{usrMsg}} 
             </div>
        </header>
        <main>
            
            <div id="stratStatus">
                <h1>Strategy bot management</h1>
                
                    <div class="center-div">    
                    
                        <table class="wrap" border = "1"> <!-- table generation ______________________________________ -->
                            <thead>
                                <tr>                                    
                                    <th>Id</th> 
                                    <th>Type</th> 
                                    <th>Name</th> 
                                    <th>Pair</th> 
                                    <th>Profit/Loss</th> 
                                    <th>Average cost | Entry | Exit</th> 
                                    <th>Trading</th> 
                                    <th>STATE</th> 
                                    <th>   </th> 
                                    <th>   </th> 
                                </tr>
                            </thead>  
                                <tbody> 
                                    {%for StrategyID in AllStrategySettings %}                 
                                    <form action="/strategyManager" method="POST" onsubmit="return confirm('Confirm action');">
                                        <tr>
                                            <td> 
                                                {{ StrategyID["id"] }} 
                                                <input type="hidden" name="id" value="{{StrategyID.id}}" >
                                            </td>
                                            <td> 
                                                {{ StrategyID["type"] }} 
                                            </td>
                                            <td class="limitW"> 
                                                {{ StrategyID["name"] }} 
                                            </td>
                                            <td> 
                                                {{ StrategyID["Symbol1"] }} / 
                                                {{ StrategyID["Symbol2"] }} 
                                            </td>                                            
                                            {%if "id_"~StrategyID.id in activeStrategyData %}

                                                {%if activeStrategyData["id_"~StrategyID.id]["data"]["Profit_Loss"] < 0.0 %}
                                                    <td class="redR"> 
                                                {%else%}
                                                    <td class="greenR">
                                                {%endif%}   
                                                        {{ activeStrategyData["id_"~StrategyID.id]["data"]["Profit_Loss"] }} 
                                                        {{ StrategyID["Symbol2"] }}  <br>  
                                                        {{ activeStrategyData["id_"~StrategyID.id]["data"]["Profit_LossPercent"] }} %
                                                    </td>      
                                                <td> 
                                                    {{ activeStrategyData["id_"~StrategyID.id]["data"]["Avradge cost"] }}
                                                     | {{ activeStrategyData["id_"~StrategyID.id]["data"]["Avradge entry"] }}
                                                     | {{ activeStrategyData["id_"~StrategyID.id]["data"]["Avradge exit"] }}
                                                     {{ StrategyID["Symbol2"] }} 
                                                </td>  
                                            
                                            {%else%} 
                                                  <td> NaN </td>
                                                  <td> NaN </td>
                                            {%endif%}  
                                                                                           
                                            {%if StrategyID["paperTrading"] %}
                                            <td>  
                                                Paper 
                                                <button class="green" type="submit" name="ActionButton" value="Live" >LIVE</button>
                                            {%else%} 
                                            <td class="green">  
                                                LIVE 
                                                <button type="submit" name="ActionButton" value="Paper" >Paper</button>
                                            {%endif%}  
                                            </td>
                                            
                                            {% if StrategyID.run %}
                                                <td class="green">
                                                    RUNNING 
                                                    <button class="red" type="submit" name="ActionButton" value="Stop" >STOP</button>
                                                </td>      
                                            {%else%}    
                                                <td class="red">
                                                    STOPPED 
                                                    <button class="green" type="submit" name="ActionButton" value="Run" >RUN</button>
                                                </td>  
                                            {%endif%}
                                            <td>
                                                <button type="submit" name="ActionButton" value="Delete" ><b>DELETE</b></button>
                                            </td>
                                            <td>
                                                <button type="submit" name="ActionButton" value="Reset" ><b>RESET</b></button>
                                            </td>
                                        </tr>
                                    </form>
                                    {% endfor %}                                
                                </tbody>
                        </table>   
                    </div>
                
            </div>
        </main>
        <footer>
             {% include 'footer.html' %}
        </footer>
    </div> 
       
    
    </body>
</html>