<html>
    <head> 
        <meta id="StrategySettingsData" data-json='{{ AllStrategySettings | tojson }}'>
        <meta id="scrollId" data-json='{{ scrollId | tojson }}'>
        <title>Bot settings</title>        
        {% include 'segments/_header.html' %}
    </head>
    <body>
        <div class="sidenav"> 
            <div class="nav_top">
            {%for StrategyID in AllStrategySettings %} 
            {% if StrategyID.paperTrading %}
                <button class="invert" 
                {%else%}
                    <button class="invert green" 
                {%endif%}
                id="nav_{{StrategyID.id}}" value="{{StrategyID.id}}" type="button">{{StrategyID.id}} {{StrategyID.Symbol1}}/{{StrategyID.Symbol2}} {{StrategyID.CandleInterval}}</button>              
            {% endfor %}
            </div>
            {% include 'segments/_nav_side.html' %}
        </div>
    <div class="wrapper">
        <header>
            <div>
                <b>STRATEGY SETTINGS</b>
            </div>
            <div>
                Message: {{usrMsg}} 
            </div>
        </header>
        <main>
            <div id="stratStatus">
                {% for StrategyID in AllStrategySettings %} 
                <section id="{{StrategyID.id}}">
                <hr class="custom-hr">
                <form action="/strategySettings_html" method="POST" onsubmit="return confirm('Confirm action');">
                     
                    <h2> 
                        {% if StrategyID.paperTrading %}                        
                            <input class="titleLong" 
                        {%else%}
                            <input class="titleLongGreen" 
                        {%endif%}
                        type="text" name="name" value= "{{ StrategyID.name  }}"> 
                    </h2>
                    <div class="center-div" id="div_{{StrategyID.id}}">   
                        
                        {% include 'segments/_settings_gen_table.html' %}
                        
                        {% include 'segments/_settings_ind_table.html' %}

                        {% include 'segments/_paragraph_desc.html' %}    
                    </div>
                </form>
                </section>
                {% endfor %}
                
            </div>
        </main>
        <footer>            
            {% include 'segments/_footer.html' %}    
        </footer>
    </div> 

    <script src="{{ url_for('static', filename='strategySettings.js') }}">
       

    </script>
    </body>
</html>