<html>
    <head> 
        <title>Bot status</title>
        {% include 'segments/_header.html' %}
    </head>
    <body>
        <div class="sidenav"> 
            <div class="nav_top">          
                {%for strategy in strategy_list %} 
                    
                    <button class="" id="nav_{{strategy.idx}}" value="{{strategy.idx}}" type="button">{{strategy.idx}} {{strategy.name}}</button>              
                                
                {% endfor %}
            </div>

            {% include 'segments/_nav_side.html' %}
        </div>
    <div class="wrapper">
        <header>
            <div>
                <b>BOT STATUS</b>
            </div>
        </header>
        <main>
            <div id="stratStatus">
                {%for strategyID in activeStrategyData %}   

                {%if strategyID != "backtester" %}    
                    
                    <section id="{{strategyID}}"> 
                        
                        <hr class="custom-hr">  
                        
                        <form action="/chart_trades" method="POST">
                            <button type="submit" name="load_select" value="{{strategyID}}" class="rounded">CHART</button>
                        </form>   

                        {% if activeStrategyData[strategyID]["paper_trading"] %}
                        <h2> 
                        {%else%}
                        <h2 class="headLive"> 
                        {%endif%}
                            {{ activeStrategyData[strategyID]["name"]  }} </h2>  
                            
                        {% include 'segments/_status_tables.html' %}
                    </section> 
                {%endif%}

                {% endfor %}
            </div>
        </main>
        <footer>
             {% include 'segments/_footer.html' %}
        </footer>
    </div> 
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    </body>
</html>