<html>
    <head>
        <title>Trading bot</title>
        {% include 'segments/_header.html' %}
    </head>
    <body>
        <div class="sidenav"> 
            <div class="nav_top">
                {%for TradeTable in TradeTables %} 
                    {% if TradeTables[TradeTable]["paperTrading"] %}
                        <button class="invert" 
                    {%else%}
                        <button class="invert green" 
                    {%endif%}
                    id="nav_{{TradeTable}}" value="{{TradeTable}}" type="button">{{TradeTable}} {{TradeTables[TradeTable]["Symbol1"]}}/{{TradeTables[TradeTable]["Symbol2"]}} {{TradeTables[TradeTable]["CandleInterval"]}}</button>
                {% endfor %}
            </div>
            {% include 'segments/_nav_side.html' %}
        </div>
    <div class="wrapper">
        <header>
            <div>
             <b>TRADE TABLES</b>
             </div>
        </header>
        <main>  
            <div class="center-div">
            {%for TradeTable in TradeTables %}      
            <section id="{{TradeTable}}">                    
                <hr class="custom-hr">   
                {% if TradeTables[TradeTable]["paperTrading"] %}
                <h2> 
                {%else%}
                <h2 class="headLive"> 
                {%endif%}   
                Strategy {{TradeTable}}: {{ TradeTables[TradeTable]["name"] }} </h2>
                
                {% include 'segments/_trade_table.html' %} 
            </section>       
            {% endfor %}
            </div>
        </main>
        <footer>
            {% include 'segments/_footer.html' %}    
        </footer>
    </div>
    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>